{% extends 'blog/__base__.html' %}
{% block content %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>公司简介</h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#Company-profile" data-toggle="tab">公司简介 Company profile</a></li>
              <li><a href="#Talent-team" data-toggle="tab">人才团队  Talent team</a></li>
            </ul>

            <!-- 公司简介 -->
            <div class="tab-content">
              <div class="active tab-pane" id="Company-profile">           
                <div class="post">                  
                  <p style="font-size:18px;background:#fff;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    江西领元成立于2016年，工厂位于江西省九江市，公司致力于高性能陶瓷隔膜涂料粘结剂、分散剂及润湿剂等助剂的研发、生产和销售服务。公司产品技术主要与江苏大学，南京大学新材料领域的硕士、博士联合开发，原材料全部采用国外进口，由江西领元按照自主的配方进行生产。<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    在研究研发能力上，公司核心技术人员长年于国内知名院校以及国际知名化工厂商及隔膜厂商合作开发，结合涂层隔膜在电池的运用，开发出具有优异涂布性能的高性能隔膜涂层粘结剂、分散剂、润湿剂及其相关助剂。<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    公司始终坚持，为用户创造更大的价值和营销理念，在反思中寻找差距，在对比中赶超先进的学习理念；贴近市场，客户至上，换位思考，真诚服务的服务理念。为海内外客户提供优质的产品与服务。<br>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    公司文化：开拓进取、勇于创新、客户至上。<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    公司理念：诚信合作、互利共赢、优质服务。<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    公司目标：把产品做到极致，持续为客户创造最大价值，成为新材料新科技领域的卓越企业。            
            
                  </p>

                </div>


                  <style type="text/css">
    .item,.carousel-caption{
      width: 100%;
      height: 270px;
    }
    .carousel-caption{
      left: 0;
      top: 0;
      padding: 0;
    }
  </style>
</head>
<body>
<div id="myCarousel" class="carousel slide">
  <!-- 轮播（Carousel）指标 -->
  <ol class="carousel-indicators" >
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>   
  <!-- 轮播（Carousel）项目 -->
  <div class="carousel-inner" style="width: 1280px;">
    <div class="item active" style="">
       
      <div class="carousel-caption">
        <p style="color:#000; " >
        公司厂房&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        公司厂房&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        公司厂房&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        公司厂房</p> 
        <img style="display: inline-block;" width="300" height="225" src="/static/home/img/work1_240x180.png" >
        <img style="display: inline-block;" width="300" height="225" src="/static/home/img/work1_1_240x180.png" >
        <img style="display: inline-block;" width="300" height="225" src="/static/home/img/work2_240x180.png" >
        <img style="display: inline-block;" width="300" height="225" src="/static/home/img/work3_240x180.png" >

      </div>
    </div>
  
    <div class="item " style="">
      <div class="carousel-caption">
        <p style="color:#000; " >
        公司厂房&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        公司厂房&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        公司厂房&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        公司厂房</p>         
        <img style="display: inline-block;" width="300" height="225" src="/static/home/img/work4_240x180.png" >
        <img style="display: inline-block;" width="300" height="225" src="/static/home/img/work5_240x180.png" >
        <img style="display: inline-block;" width="300" height="225" src="/static/home/img/work6_240x180.png" >
        <img style="display: inline-block;" width="300" height="225" src="/static/home/img/work7_240x180.png" >
      </div>
    </div>
    <div class="item" style="">
      <div class="carousel-caption">
        <p style="color:#000; " >
        公司厂房&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        公司厂房&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        公司厂房&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        公司厂房</p> 
        <img style="display: inline-block;" width="300" height="225" src="/static/home/img/work8_240x180.png" >
        <img style="display: inline-block;" width="300" height="225" src="/static/home/img/work9_240x180.png" >
        <img style="display: inline-block;" width="300" height="225" src="/static/home/img/work10_240x180.png" >
        <img style="display: inline-block;" width="300" height="225" src="/static/home/img/work11_240x180.png" >
      </div>
    </div>
  </div>
  <!-- 轮播（Carousel）导航 -->
  <a class="carousel-control" href="#myCarousel"  style="left: -94px;" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="false"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a class=" carousel-control" href="#myCarousel" style="left: 1180px;" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div> 
<script type="text/javascript">
  $(document).ready(function(){
    $('#myCarousel').carousel()
   })
</script>
                


              </div>  <!-- /.公司简介 -->
             
              <div class="tab-pane" id="Talent-team">
                <!-- Post 第一部分-->
                <div class="post">                  
                  <p style="font-size:18px;background:#fff;">          
                    刘伟 -- 首席科学家&nbsp;&nbsp;&nbsp;&nbsp;   南开大学应用化学博士 <br>
                    岳新华 -- 技术副总&nbsp;&nbsp;&nbsp;&nbsp;上海复旦大学化学系研究生<br>
                    谢网泉 -- 技术工程师&nbsp;&nbsp;&nbsp;&nbsp;厦门大学高分子化学研究生<br>
                    张荣新 -- 技术工程师&nbsp;&nbsp;&nbsp;&nbsp;天津大学应用化学研究生</p>           
                  </p>
                  
                </div>

                <div class="post">
                  <div class="row margin-bottom">
                    
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-3">
                          <img class="img-responsive" src="/static/home/img/刘伟_177x225.png" alt="Photo">
                          <p>刘伟 首席科学家<p>
                        </div>
                        <div class="col-sm-3">  
                          <img class="img-responsive" src="/static/home/img/岳新华_166x225.png" alt="Photo">
                          <p>岳新华 技术副总<p>
                        </div>
                        <div class="col-sm-3">
                          <img class="img-responsive" src="/static/home/img/谢网泉_153x225.png" alt="Photo">
                          <p>谢网泉 技术工程师<p>
                        </div>
                        <div class="col-sm-3">
                          <img class="img-responsive" src="/static/home/img/张荣新_166x225.png" alt="Photo">
                          <p>张荣新 技术工程师<p>
                       
                      </div>
                    </div>
                  </div>


              </div>  <!-- /.人才团队 -->

    </section>
    <!-- /.content -->
  </div>
</div>
{% endblock %}