{% extends 'blog/__base__.html' %}
{% block content %}
  
<div class="content-wrapper" style="background:#f9bc3a;"> 

    <h1 style="padding-left:348px; font-size:34px; color:#fff; padding-top:28px;">江西领元新能材料有限公司工厂概貌</h1>
  

  <section class="content-header">
    <h1>
      公司厂房 <small> Workshop</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="/">Workshop</a></li>
    </ol>
  </section>

  <div class="box-body">
    <div class="row" >
      <!--1-->  
      <div class="col-sm-4 col-md-4">
        <img src="/static/home/img/work1.png" style="height:338px;">
        <h5>公司大门</h5>
        <ul class="top-social-icons">          
          <div class="clear"> </div>
        </ul>
      </div>

      <!--2-->
      <div class="col-sm-4 col-md-4">    
        <img src="/static/home/img/work1_1.png" style="height:338px;">   
        <h5>公司办公楼</h5>
        <ul class="top-social-icons">         
          <div class="clear"> </div>
        </ul>
      </div>
      <!--3-->
      <div class="col-sm-4 col-md-4">
        <img src="/static/home/img/work2.png" style="height:338px;">
        <h5>生产车间</h5>
        <ul class="top-social-icons">          
          <div class="clear"> </div>
        </ul>
      </div> <br>

      <!--4-->
      <div class="col-sm-4 col-md-4">
        <img src="/static/home/img/work3.png" style="height:338px;">
        <h5>生产车间</h5>
        <ul class="top-social-icons">         
          <div class="clear"> </div>
        </ul>
      </div>
      <!--5-->
      <div class="col-sm-4 col-md-4">
        <img src="/static/home/img/work4.png" style="height:338px;">           
        <h5>生产车间</h5>
        <ul class="top-social-icons">
          <div class="clear"> </div>
        </ul>
      </div>
      <!--6-->
      <div class="col-sm-4 col-md-4">
        <img src="/static/home/img/work5.png" style="height:338px;">
        <h5>生产车间</h5>
        <ul class="top-social-icons">
          <div class="clear"> </div>
        </ul>
      </div><br>
 
      <!--7-->
      <div class="col-sm-4 col-md-4">
        <img src="/static/home/img/work6.png" style="height:338px;">
        <h5>生产车间</h5>
        <ul class="top-social-icons">
          <div class="clear"> </div>
        </ul>
      </div>
      <!--8-->
      <div class="col-sm-4 col-md-4">          
        <img src="/static/home/img/work7.png" style="height:338px;">   
        <h5>生产车间</h5>
        <ul class="top-social-icons">          
          <div class="clear"> </div>
        </ul>
      </div>     
      <!--9-->
      <div class="col-sm-4 col-md-4">
        <img src="/static/home/img/work8.png" style="height:338px;">
        <h5>生产车间</h5>
        <ul class="top-social-icons">
          <div class="clear"> </div>
        </ul>
      </div><br>

      <!--10-->   
      <div class="col-sm-4 col-md-4">
        <img src="/static/home/img/work9.png" style="height:338px;">
        <h5>生产车间</h5>
        <ul class="top-social-icons">        
          <div class="clear"> </div>
        </ul>
      </div>
      <!--11-->
      <div class="col-sm-4 col-md-4">        
        <img src="/static/home/img/work10.png" style="height:338px;">  
        <h5>生产车间</h5>
        <ul class="top-social-icons">        
          <div class="clear"> </div>
        </ul>
      </div>
      <!--12-->
      <div class="col-sm-4 col-md-4">
        <img src="/static/home/img/work11.png" style="height:338px;">
        <h5>生产车间</h5>
        <ul class="top-social-icons">          
          <div class="clear"> </div>
        </ul>
      </div><br>
         
    </div><br>

    <!--生产设备-->
    <h3>
      生产设备 <small> Equipment</small>
    </h3>
    <div class="row">
      <!--1-->  
      <div class="col-sm-3 col-md-3">
        <img src="/static/home/img/100l.png" style="height:338px; ">
        <ul class="top-social-icons">         
          <div class="clear"> </div>
        </ul>
      </div>

      <!--2-->
      <div class="col-sm-3 col-md-3">    
        <img src="/static/home/img/200l.png" style="height:338px; ">   <h4></h4>
        <ul class="top-social-icons">         
          <div class="clear"> </div>
        </ul>
      </div>
      <!--3-->
      <div class="col-sm-3 col-md-3">
        <img src="/static/home/img/1000l.png" style="height:338px; ">
        <ul class="top-social-icons">          
          <div class="clear"> </div>
        </ul>
      </div>

      <!--4-->
      <div class="col-sm-3 col-md-3">
        <img src="/static/home/img/2000l.png" style="height:338px; ">
        <ul class="top-social-icons">         
          <div class="clear"> </div>
        </ul>
      </div>
      <!--5-->
      <div class="col-sm-3 col-md-3">
        <img src="/static/home/img/5000l.png" style="height:338px; ">           
        <ul class="top-social-icons">
          <div class="clear"> </div>
        </ul>
      </div>
      <!--6-->
      <div class="col-sm-3 col-md-3">
        <img src="/static/home/img/常温搅拌.png" style="height:338px; ">
        <ul class="top-social-icons">
          <div class="clear"> </div>
        </ul>
      </div>
      <!--7-->
      <div class="col-sm-3 col-md-3">
        <img src="/static/home/img/水生产装置.png" style="height:338px; ">
        <ul class="top-social-icons">
          <div class="clear"> </div>
        </ul>
      </div><br>
    </div>
 
      
    <!--检测设备-->
    <h3>
      检测设备 <small> Equipment</small>
    </h3>
    <div class="row">
      <!--1-->  
      <div class="col-sm-4 col-md-4">
        <img src="/static/home/img/img1.png" style="height:338px; ">
        <h5>检测设备</h5>
        <ul class="top-social-icons">
          
          <div class="clear"> </div>
        </ul>
      </div>

      <!--2-->
      <div class="col-sm-4 col-md-4">    
        <img src="/static/home/img/img2.png" style="height:338px; ">   <h4></h4>
        <h5>测试设备</h5>
        <ul class="top-social-icons">
          
          <div class="clear"> </div>
        </ul>
      </div>
      <!--3-->
      <div class="col-sm-4 col-md-4">
        <img src="/static/home/img/Test-Instrument.png" style="height:338px; ">
        <h5>测试设备</h5>
        <ul class="top-social-icons">          
          <div class="clear"> </div>
        </ul>
      </div> <br>

      <!--4-->
      <div class="col-sm-4 col-md-4">
        <img src="/static/home/img/img3.png" style="height:338px; ">
        <h5>测试设备</h5>
        <ul class="top-social-icons">         
          <div class="clear"> </div>
        </ul>
      </div>
      <!--5-->
      <div class="col-sm-4 col-md-4">
        <img src="/static/home/img/img5.png" style="height:338px; ">           
        <h4></h4>
        <h5>测试设备</h5>
        <ul class="top-social-icons">
          <div class="clear"> </div>
        </ul>
      </div>
      <!--6-->
      <div class="col-sm-4 col-md-4">
        <img src="/static/home/img/7.png" style="height:338px; ">
        <h4></h4>
        <h5>测试设备</h5>
        <ul class="top-social-icons">
          <div class="clear"> </div>
        </ul>
      </div><br>
 
      <!--7-->
      <div class="col-sm-4 col-md-4">
        <img src="/static/home/img/5.png" style="height:338px; ">
        <h4></h4>
        <h5>测试设备</h5>
        <ul class="top-social-icons">
          <div class="clear"> </div>
        </ul>
      </div>
      <!--8-->
      <div class="col-sm-4 col-md-4">          
        <img src="/static/home/img/2.png" style="height:338px; ">   
        <h5>测试设备</h5>
        <ul class="top-social-icons">          
          <div class="clear"> </div>
        </ul>
      </div>     
      <!--9-->
      <div class="col-sm-4 col-md-4">
        <img src="/static/home/img/3.png" style="height:338px; ">
        <h4></h4>
        <h5>测试设备</h5>
        <ul class="top-social-icons">
          <div class="clear"> </div>
        </ul>
      </div><br>

      <!--10-->   
      <div class="col-sm-4 col-md-4">
        <img src="/static/home/img/4.png" style="height:338px; ">
        <h4></h4>
        <h5>测试设备</h5>
        <ul class="top-social-icons">        
          <div class="clear"> </div>
        </ul>
      </div>
      <!--11-->
      <div class="col-sm-4 col-md-4">        
        <img src="/static/home/img/1.png" style="height:338px; ">  
        <h5>测试设备</h5>
        <ul class="top-social-icons">
         
          <div class="clear"> </div>
        </ul>
      </div>
      <!--12-->
      <div class="col-sm-4 col-md-4">
        <img src="/static/home/img/6.png" style="height:338px; ">
        <h4></h4>
        <h5>测试设备</h5>
        <ul class="top-social-icons">
          
          <div class="clear"> </div>
        </ul>
      </div><br>         
    </div><br>



  </div>
</div>
{% endblock %}