{% extends 'blog/__base__.html' %}
{% block content %}
 
<style>
.carousel {
  height: 620px;
  background: #e4877f;

}
.carousel .item {
  height: 620px;
}
.carousel .item img {
  width: 100%;
}
</style>

<script>
$(function(){
  $('#carousel-example-generic').carousel({interval:2000});
});

$('.carousel').carousel({
  interval: 2000
});

</script>



<!-- 轮播广告 -->
<div id="LBbox" class="carousel slide" data-ride="carousel" data-interval="2000">
  

  <!-- 圆点按钮 -->
  <ol class="carousel-indicators">
    <li data-target="#LBbox" data-slide-to="0" class="active"></li>
    <li data-target="#LBbox" data-slide-to="1"></li>
    <li data-target="#LBbox" data-slide-to="2"></li>
    <li data-target="#LBbox" data-slide-to="3"></li>
  </ol>

  <!-- 轮播内容 -->
  <div class="carousel-inner" role="listbox">
    
    <div class="item active">      
      <div style="padding-top:60px; color:#fff; padding-left:150px;">
            <h1 class="title" style="padding-left:628px;">欢迎您的光临</h1> <br>
            <h1 style="padding-left:288px; font-size:74px;">江西领元新能材料有限公司</h1><br>
            <h2 class="title" style="padding-left:508px;">Jiangxi Liaoyuan Xinneng Material Co., Ltd.</h2> 

      </div>
    </div>

    <div class="item">      
      <div style="padding-top:60px; color:#fff; padding-left:150px;">
            <h1 class="title" style="padding-left:628px;">合作共赢</h1> <br>
            <h1 style="padding-left:288px; font-size:84px;">真诚合作 VS 互利共赢</h1><br>
            <h2 class="title" style="padding-left:418px;">严格产品质量标准 为用户创造更大的价值</h2> 

      </div>
    </div>
    
    <div class="item">      
      <div style="padding-top:60px; color:#fff; padding-left:150px;">
            <h1 class="title" style="padding-left:628px;">客户至上</h1> <br>
            <h1 style="padding-left:288px; font-size:84px;">换位思考 VS 用心服务</h1><br>
            <h2 class="title" style="padding-left:268px;">紧贴市场 真诚为客户服务 牢固树立客户至上观念 使客户无后顾之忧</h2> 

      </div>
    </div>

    <div class="item">      
      <div style="padding-top:60px; color:#fff; padding-left:150px;">
            <h1 class="title" style="padding-left:628px;">联系我们</h1> <br>
            <h1 style="padding-left:288px; font-size:84px;">强强联合 VS 共赢辉煌</h1><br>
            <h2 class="title" style="padding-left:290px;">工厂地址：江西省九江市湖口县民德路71号   Tel: 13914583333</h2> 

      </div>
    </div>




  </div>


</div>


{% endblock %}