{% extends 'blog/__base__.html' %}
{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <h1>行业动态</h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-3">

                <div class="box box-primary">
                    <div class="box-body box-profile">            
                        <ul class="list-group list-group-unbordered">                
                            <b>锂离子电池</b>                 
                            <li class="list-group-item">
                                <b>
                                    ◆ <a href="http://ishare.iask.sina.com.cn/f/ov2LOwWUXR.html">负极陶瓷涂层对锂离子电池性能的影响</a>
                                </b>

                            </li>              
                        </ul>             
                    </div>
                </div> 
                <div class="box box-primary">
                    <div class="box-body box-profile">            
                        <ul class="list-group list-group-unbordered">                
                            <b>相关资料</b>                 
                            <li class="list-group-item">
                                <b>
                                    ◆ <a href="https://baike.baidu.com/item/%E9%94%82%E7%A6%BB%E5%AD%90%E7%94%B5%E6%B1%A0%E9%9A%94%E8%86%9C/3649820?fr=aladdin">锂离子电池隔膜</a>
                                </b>
                            </li> 
                            <li class="list-group-item">
                                <b>
                                    ◆ <a href="http://xueshu.baidu.com/usercenter/paper/show?paperid=2e7af5a5edc4ae7cf2960dabb63d3446&site=xueshu_se">锂离子电池用陶瓷隔膜及锂离子电池</a>
                                </b>
                            </li>   
                            <li class="list-group-item">
                                <b>
                                    ◆ <a href="http://www.cbea.com/hdyg/201807/790141.html">新能源汽车市场将进入爆发期</a>
                                </b>
                            </li>
                            <li class="list-group-item">
                                <b>
                                    ◆ <a href="http://www.csbxx.com/fenlei/dianchi/34.html">使用锂电池的安全注意事项</a>
                                </b>
                            </li>  

                        </ul>             
                    </div>
                </div> 


            </div>
            
            <div class="col-md-9">
                <div class="box box-primary">                  
                    <div class="box-body box-profile">
                        <p> 为什么负极要用铜镍箔而正极要用铝箔呢？</p>
                        1.采用两者做集流体都是因为两者导电性好,质地比较软(可能这也会有利于粘结)，也相对常见比较廉价，同时两者表面都能形成一层氧化物保护膜。<br>
                        2.铜镍表面氧化层属于半导体，电子导通，氧化层太厚，阻抗较大；而铝表面氧化层氧化铝属绝缘体，氧化层不能导电，但由于其很薄，通过隧道效应实现电子电导，若氧化层较厚，铝箔导电性级差，甚至绝缘。一般集流体在使用前最好要经过表面清洗，一方面洗去油污，同时可除去厚氧化层。<br>
                        3.正极电位高，铝薄氧化层非常致密，可防止集流体氧化。而铜镍箔氧化层较疏松些，为防止其氧化，电位比较低较好，同时Li难与Cu镍在低电位下形成嵌锂合金，但是若铜镍表面大量氧化，在稍高电位下Li会与氧化铜镍发生嵌锂发应。而铝箔不能用作负极,低电位下会发生LiAl合金化。   <br>4.集流体要求成分纯。Al的成分不纯会导致表面膜不致密而发生点腐蚀，更甚由于表面膜的破坏导致生成LiAl合金。
                    </div>
                </div> 

                <div class="box box-primary">                   
                    <div class="box-body box-profile">
                        什么是陶瓷隔膜？<br>
陶瓷涂覆特种隔膜: 是以PP,PE或者多层复合隔膜为基体,表面涂覆一层纳米级三氧化二铝材
料,经过特殊工艺处理,和基体粘接紧密。显著提高锂离子电池的耐高温性能和安全性。<br>
陶瓷涂覆特种隔膜特别适用于动力电池。<br>
锂离子电池对隔膜的要求<br>
隔膜性能决定了电池的内阻和界面结构,进而决定了电池容量、安全性能、充放电密度和循环
性能等特性。因此需满足如下一些特性:<br>
1、好的化学稳定性耐有机溶剂;<br>
2、机械性能良好-拉伸强度高,穿刺强度高;<br>
3、良好的热稳定性-热收缩率低;较高的破膜温度<br>
4、电解液浸润性一与电解液相容性好,吸液率高<br>
氧化二铝作为一种无机物,具有很高的热稳定性及化学惰性,是电池隔膜陶瓷涂层的很好选
择陶瓷隔膜对氧化铝的性能要求：<br>
1、粒径均匀性,能很好的粘接到隔膜上,又不会堵塞隔膜孔径。<br>
2、氧化铝纯度高,不能引入杂质,影响电池内部环境。<br>
3、氧化铝晶型结构的要求,保证氧化铝对电解液的相容性及浸润性。<br>
涂覆高纯氧化铝(VK-L30G)隔膜的优点：<br>
1、耐高温性:<br>
氧化铝涂层具有优异的耐高温性,在180摄氏度以上还能保持隔膜形态。<br>
2、高安全性<br>
氧化铝涂层可中和电解液中游离的HF,提升电池耐酸性,安全性提高。<br>
3、高倍率性能<br>
纳米氧化铝在锂电池中可形成固溶体,提高倍率性和循环性能。<br>
4、良好浸润性<br>
纳米氧化铝粉末具有良好的吸液及保液能力。<br>
5、独特的自关断特性:<br>
保持了聚烯烃隔膜的闭孔特性,避免热失控引起安全隐患。<br>
6、低自放电率。<br>
                    </div>
                </div> 




            </div> 
        </div>

    </section>

</div>
{% endblock %}