<style>
/* 左边菜单颜色设置 */
.main-sidebar a:hover{ 
  background: #3ACC3A !important ;
}

.main-sidebar a:focus { 
     background: #3ACC3A !important ;
}
.main-sidebar a:hover { 
     background: #3ACC3A !important ;
}
.main-sidebar a:focus { 
    background: #3ACC3A !important ;
}
</style>
  <aside class="main-sidebar">
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image ">
         <img src="#" class="img-circle" alt="User Image">
           
        </div>
        <div class="pull-left info">
          <p> 目 录 </p> 
        </div>
      </div>
      
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      
      <ul class="sidebar-menu" data-widget="tree">        
        <li><a href="/blog/contactus/"><i class="fa fa-tty" aria-hidden="true"></i> <span>联系我们</span></a></li>
        
        <li><a href="/blog/contactus/"><p style="font-size:20px;"><i class="fa fa-mobile" aria-hidden="true"></i> TEL: 13914583333 <p>
        </a></li>

        <li><a href="/blog/contactus/"><p style="font-size:20px;"><i class="fa fa-fax" aria-hidden="true"></i> FAX: 051186265818<p>
        </a></li>

        <li><a href="/blog/contactus/"><p style="font-size:20px;"><i class="fa fa-qq" aria-hidden="true"></i> QQ: 13914583333<p>
        </a></li>

        <li><a href="/blog/contactus/">公司地址:江苏省丹阳众创产业园
        </a></li>




      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>