{% extends 'blog/__base__.html' %}
{% block content %}
<div class="content-wrapper" >
    <br>  
    <div class="post">
        <p style="padding-left:20px; color:#000; font-size:30px;">胶的主要成份</p>
        <p style="padding-left:20px; color:#000; font-size:20px;">水，丙烯酸-2-乙基己酯，丙烯腈，甲基丙烯酸所水甘油酯，丙烯酸，苯乙烯，十二烷基苯磺酸钠，过硫酸钠。</p>

        <div class="row margin-bottom">
            <div class="col-sm-6" style="padding-left:20px;">
                <p style="padding-left:20px; color:#000; font-size:20px;">助剂</p>
                <img class="img-responsive" src="/static/AdminLTE-2.4.5/img/助剂.png" alt="Photo">
               
            </div>
            <div class="col-sm-6" style="padding-left:20px;">
                 <p style="padding-left:20px; color:#000; font-size:20px;">胶性能</p>
                <img class="img-responsive" src="/static/AdminLTE-2.4.5/img/胶性能.png" alt="Photo">
               
            </div>
        </div>
        <p style="padding-left:20px; color:#000; font-size:20px;">性能报告</p>
        <div class="row margin-bottom">
            <div class="col-sm-6" style="padding-left:20px;">
                 <p style="padding-left:20px; color:#000; font-size:20px;">7+3样品图</p>
                <img class="img-responsive" src="/static/AdminLTE-2.4.5/img/单面陶瓷1.png" alt="Photo">
               
            </div>
            <div class="col-sm-6" style="padding-left:20px;">
                 <p style="padding-left:20px; color:#000; font-size:20px;">7+3样品图</p>
                <img class="img-responsive" src="/static/AdminLTE-2.4.5/img/单面陶瓷2.png" alt="Photo">
               
            </div>
        </div>

        <p style="padding-left:20px; color:#000; font-size:20px;">电镜图</p>
        <div class="row margin-bottom">
            <div class="col-sm-6" style="padding-left:20px;">
                <img class="img-responsive" src="/static/AdminLTE-2.4.5/img/电镜图1.png" alt="Photo">
               
            </div>
            <div class="col-sm-6" style="padding-left:20px;">
                <img class="img-responsive" src="/static/AdminLTE-2.4.5/img/电镜图2.png" alt="Photo">
               
            </div>
        </div>

        <div class="row margin-bottom">
            <div class="col-sm-6" style="padding-left:20px;">
                <img class="img-responsive" src="/static/AdminLTE-2.4.5/img/浆料性能.png" alt="Photo">
               
            </div>
            <div class="col-sm-6" style="padding-left:20px;">
                <img class="img-responsive" src="/static/AdminLTE-2.4.5/img/浆料性能.png" alt="Photo">
               
            </div>
        </div>

        <div class="row margin-bottom">
            <div class="col-sm-6" style="padding-left:20px;">
                <img class="img-responsive" src="/static/home/img/440-220-1.png" alt="Photo">
               
            </div>
            <div class="col-sm-6" style="padding-left:20px;">
                <img class="img-responsive" src="/static/home/img/440-220-2.png" alt="Photo">
               
            </div>
        </div>

           
        </div>
    </div>             

</div>
{% endblock %}