{% extends 'blog/__base__.html' %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>&nbsp;&nbsp;&nbsp;&nbsp;主营产品</h1>
    </section>

    <div class="col-md-12">

      <div class="col-md-3">
        <div class="box box-primary">
          <div class="box-body box-profile">
            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>LY-10700</b> 
              </li>
              <li class="list-group-item">
                <b>产品介绍</b> 
              </li>
              <li class="list-group-item">
                <b>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  LY-10700陶瓷隔膜粘合剂是公司严格LY-10700陶瓷隔膜粘合剂是公司严格按照SO9001质量管理体系的要求生产的产品，其平均粒度小，具有高的粘结性能，涂覆后使陶瓷隔膜具有高的剥离强度，优异的耐水性能，良好的热收缩性能。
                </b> 
              </li>
              <li class="list-group-item">
                <b>产品优势</b> 
              </li>
              <li class="list-group-item">
                <b>
                  ◆高剥离强度<br>
                  ◆优异耐水性能<br>
                  ◆经济环保<br>
                  ◆加工性能优异<br>
                  ◆电化学性能佳<br>
                  ◆热收缩性能优异
                </b> 
              </li>
              <li class="list-group-item">
                  <b>物化特点</b> 
              </li>
              <li class="list-group-item">
                <b>
                  ◆外观:乳白色<br>
                  ◆粘度(mPa-s):≤100<br>
                  ◆固含量(%):≥30%<br>
                  ◆PH值:6~8
                </b> 
              </li>               
            </ul>             
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box box-primary">
          <div class="box-body box-profile">
            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>LY-10701</b> 
              </li>
              <li class="list-group-item">
                <b>产品介绍</b> 
              </li>
              <li class="list-group-item">
                <b>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  LY-10701陶瓷隔膜粘合剂是公司严格LY-10701陶瓷隔膜粘合剂是公司严格按照SO9001质量管理体系的要求生产的产品，其产品的平均粒度小均匀，具有高的粘结性能，涂覆后使陶瓷隔膜具有高的剥离强度，低水分的优异性能。
                </b> 
              </li>
              <li class="list-group-item">
                <b>产品优势</b> 
              </li>
              <li class="list-group-item">
                <b>
                  ◆高剥离强度<br>
                  ◆经济环保<br>
                  ◆加工性能优异<br>
                  ◆电化学性能佳<br>
                  ◆极低水分
                </b> 
              </li>
              <li class="list-group-item">
                  <b>物化特点</b> 
              </li>
              <li class="list-group-item">
                <b>
                  ◆外观:乳白色<br>
                  ◆粘度(mPa-s):≤100<br>
                  ◆固含量(%):≥30%<br>
                  ◆PH值:6~8
                </b> 
              </li>               
            </ul>             
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box box-primary">
          <div class="box-body box-profile">
            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>LY-10700B</b> 
              </li>
              <li class="list-group-item">
                <b>产品介绍</b> 
              </li>
              <li class="list-group-item">
                <b>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  LY-10700B陶瓷隔膜粘合剂是公司严格LY-10700B陶瓷隔膜粘合剂是公司严格按照SO9001质量管理体系的要求生产的产品，其产品的平均粒度小均匀，具有高的粘结性能，涂覆后使陶瓷隔膜具有高的剥离强度，低水分的优异性能。
                </b> 
              </li>
              <li class="list-group-item">
                <b>产品优势</b> 
              </li>
              <li class="list-group-item">
                <b>
                  ◆高剥离强度<br>
                  ◆优异耐水性能<br>
                  ◆经济环保<br>
                  ◆加工性能优异<br>
                  ◆电化学性能佳<br>
                  ◆热收缩性能优异
                </b> 
              </li>
              <li class="list-group-item">
                  <b>物化特点</b> 
              </li>
              <li class="list-group-item">
                <b>
                  ◆外观:乳白色<br>
                  ◆粘度(mPa-s):≤100<br>
                  ◆固含量(%):≥30%<br>
                  ◆PH值:6~8
                </b> 
              </li>               
            </ul>             
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box box-primary">
          <div class="box-body box-profile">
            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>LY-10701B</b> 
              </li>
              <li class="list-group-item">
                <b>产品介绍</b> 
              </li>
              <li class="list-group-item">
                <b>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  LY-10701B陶瓷隔膜粘合剂是公司严格LY-10700B陶瓷隔膜粘合剂是公司严格按照SO9001质量管理体系的要求生产的产品，其平均粒度小，具有高的粘结性能，涂覆后使陶瓷隔膜具有高的剥离强度，优异的耐水性能，良好的热收缩性能。
                </b> 
              </li>
              <li class="list-group-item">
                <b>产品优势</b> 
              </li>
              <li class="list-group-item">
                <b>
                  ◆高剥离强度<br>
                  ◆经济环保<br>
                  ◆加工性能优异<br>
                  ◆电化学性能佳<br>
                  ◆极低水分
                </b> 
              </li>
              <li class="list-group-item">
                  <b>物化特点</b> 
              </li>
              <li class="list-group-item">
                <b>
                  ◆外观:乳白色<br>
                  ◆粘度(mPa-s):≤100<br>
                  ◆固含量(%):≥30%<br>
                  ◆PH值:6~8
                </b> 
              </li>               
            </ul>             
          </div>
        </div>
      </div>





</div>
{% endblock %}